<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>PRODUCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header" padding>
	<ion-list>
		<ion-item class="item item-avatar" (click)= "pop()" >
			<img src="../assets/img/a.jpg">
			<ion-label >   ACNES FACIAL WASH</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/b.jpg">
			<ion-label >   SOME BY ME CREAM</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/c.jpg">
			<ion-label >   SOME BY ME SUN PROTECTION</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/d.jpg">
			<ion-label >   COSRX AHA BHA</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/e.jpg">
			<ion-label >   HADA LABO</ion-label>
		</ion-item><p></p>
	</ion-list>
</ion-content>
